* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* General style rules */
:root {
    --footer-c: #282828;
    --bgc-1: #141922;
    --bgc-2: #000;
    --bgc-4: #080b12;
    --text-color-1: #7f8186;
    --text-color-2: #fff;
}

.t-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

/* General measures rules */
.w-100 {
    width: 100%;
}


/* General structure rules */
:root {
    --footer-c: #282828;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.flex {
    display: flex;
}

.p-relative {
    position: relative;
}

.p-fixed {
    position: fixed;
}

.z-ind {
    z-index: 999;
}

/* Start of main */
main {
    height: calc(100vh - 100px);
}

main .container,
.main-left,
.main-right {
    height: 100%;
}

/* Start of main-left */
.main-left {
    width: 200px;
    background-color: orange; /*bgc-2*/
}

/* Start of main-right */
.main-right {
    width: calc(100% - 200px);
    background-color: var(--bgc-1);
    overflow: scroll;
}

/* Start of cta */
.main-right .call-to-action {
    background-color: var(--bgc-4);
    width: calc(100% - 200px);
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    opacity: 0.8;
}

.main-right .call-to-action .btn {
    width: 250px;
    height: 50%;
    border-radius: 30px;
    border: 1px solid #fff;
    padding: 30px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-right: 10px;
}

.main-right .call-to-action .btn a {
    text-decoration: none;
    color: var(--text-color-2);
}

/* Start of sub-container */
.main-right .sub-container {
    width: 100%;
    margin-top: 100px;
    padding: 10px;
}

.main-right .sub-container .section-title {
    color: var(--text-color-2);
}

.main-right .sub-container > p {
    color: var(--text-color-1);
}

/* Start of navbar */
.main-right .navbar {
    justify-content: center;
    align-items: center;
    color: var(--text-color-1);
    text-transform: uppercase;
}

.main-right .navbar div {
    padding: 5px;
}

/* Start of row general rules */
.main-right .row {
    color: white; /*togliere*/
    width: 100%;
}

.main-right .row .container.album-info {
    width: calc(100% / 6 - 10px);
    background-color: red;
    border: 1px dashed white;
}

.main-right .row .card-song .album-art {
    width: 100%;
    height: 100%;
    position: relative;
}

.main-right .row .card-song .album-art img {
    width: 100%;
    height: 100%;
    display: block; /* used to remove the bottom margin; overlay will perfectly stay above image this way*/
}

.main-right .row .card-song .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    position: absolute;
}

.main-right .album-info p {
    color: var(--text-color-1);
}

/* Start of first row */
.main-right .row.first {
    justify-content: space-between;
}

/* Start of second, third rows */
.main-right .row.second .container.album-info:first-child, 
.main-right .row.third .container.album-info:first-child {
    margin-right: 10px;
}

.main-right .row.third .container.album-info .album-art {
    border-radius: 50%;
    overflow: hidden;
}
/* End of main */

/* Start of footer */
footer {
    height: 100px;
    bottom: 0px;
    left: 0px;
}
/* End of footer */

/* Effects */
.main-right .row .card-song .album-art:hover .overlay {
    display: block;
}

/* Start of media queries */
/* Start of md-layout max 767px*/
@media screen and (max-width: 1199px) {
    body {
        background-color: grey;
    }
}

/* Start of s-layout max 767px*/
@media screen and (max-width: 767px) {
    body {
        background-color: black;
    }
}

/* Start of xs-layout max 575px*/
@media screen and (max-width: 575px) {
    body {
        background-color: purple;
    }
}
/* End of media queries */

/* Debug */
.debug {
    border: 1px dashed red;
    background-color: lightblue;
}

.d-box {
    border: 1px dashed red;
    background-color: lightgreen;
    width: 100px;
    height: 70px;
}

/*

Note: working with 1400px width - 1000px height as default display size

To do
+ overlay effect add to every card
+ 