* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* General style rules */
:root {
    --footer-c: #282828;
}
/* End */

/* General measures rules */
.w-100 {
    width: 100%;
}
/* End */

/* General structure rules */
:root {
    --footer-c: #282828;
}

body {
    position: relative;
}

.flex {
    display: flex;
}

.fixed-bott {
    position: fixed;
    bottom: 0px;
    left: 0px;
}
/* End */

/* Start of main */

.main-left,
.main-right {
    height: calc(100vh - 100px);
}
/*Start of main-left*/
.main-left {
    width: calc(100% / 6);
    background-color: orange;
}
/* End */

/*Start of main-right*/
.main-right {
    width: calc(100% / 6 * 5);
    background-color: pink;
}
/* End */
/* End of main */

/* Start of footer */
footer {
    height: 100px;
}
/* End */

/* Start of media queries */
/* Start of md-layout max 767px*/
@media screen and (max-width: 1199px) {
    body {
        background-color: grey;
    }
}

/* Start of s-layout max 767px*/
@media screen and (max-width: 767px) {
    body {
        background-color: black;
    }
}
/* End */

/* Start of xs-layout max 575px*/
@media screen and (max-width: 575px) {
    body {
        background-color: purple;
    }
}
/* End */

/* Debug */
.debug {
    border: 1px dashed red;
    background-color: lightblue;
}

.d-box {
    border: 1px dashed red;
    background-color: lightgreen;
    width: 100px;
    height: 70px;
}

/*

Note: working with 1200px width as default display size

To do
+ 