* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* General style rules */
:root {
    --bgc-1: #141922;
    --bgc-2: #000;
    --bgc-3: #282828;
    --bgc-4: #080b12;
    --text-color-1: #7f8186;
    --text-color-2: #fff;
}

.t-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

/* General measures rules */
.w-100 {
    width: 100%;
}


/* General structure rules */
:root {
    --footer-c: #282828;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.flex {
    display: flex;
}

.p-relative {
    position: relative;
}

.p-fixed {
    position: fixed;
}

.z-ind {
    z-index: 999;
}

/* Start of main */
main {
    height: calc(100vh - 100px);
}

main .container,
.main-left,
.main-right {
    height: 100%;
}

/* Start of main-left */
.main-left {
    width: 200px;
    background-color: orange; /*bgc-2*/
}

.main-left .container {
    height: 100%;
    padding: 0.2rem;
}

/* Start of upper part */
.main-left .sub-container .logo-big {
    width: 10rem;
}

.main-left .sub-container .logo-small {
    display: none;
}

.main-left .sub-container .item-left {
    width: 2rem;
}

.main-left .sub-container  {
    align-items: center;
}

.main-left .lista {
    overflow: scroll;
    max-height: 250px;
}

/* Start of lower container */
.main-left .container .d-box:last-child {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: red;
}
/* End of main-left */

/* Start of main-right */
.main-right {
    width: calc(100% - 200px);
    background-color: var(--bgc-1);
    overflow: scroll;
}

/* Start of cta */
.main-right .call-to-action {
    background-color: var(--bgc-4);
    width: calc(100% - 200px);
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    opacity: 0.8;
}

.main-right .call-to-action .btn {
    width: 250px;
    height: 50%;
    border-radius: 30px;
    border: 1px solid #fff;
    padding: 30px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-right: 1.5rem;
}

.main-right .call-to-action .btn a {
    text-decoration: none;
    color: var(--text-color-2);
}

/* Start of sub-container */
.main-right .sub-container {
    width: 100%;
    margin-top: 100px;
    padding: 1rem;
}

.main-right .sub-container .section-title {
    color: var(--text-color-2);
}

.main-right .sub-container > h1 {
    font-size: 1.8rem;
    margin: 1.5rem 0rem;
}

.main-right .sub-container > p {
    color: var(--text-color-1);
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
}

/* Start of navbar */
.main-right .navbar {
    justify-content: center;
    align-items: center;
    color: var(--text-color-1);
    text-transform: uppercase;
    flex-wrap: wrap;
}

.main-right .navbar div {
    font-size: 0.8rem;
    padding: 0.5rem;
}

/* Start of row general rules */
.main-right .row {
    color: white; /*togliere*/
    width: 100%;
}

.main-right .row .container.album-info {
    width: calc(100% / 6 - 10px);
    /* background-color: red; */
    /* border: 1px dashed white; */
}

.main-right .row .container.album-info h3 {
    font-size: 1rem;
    margin: 0.5rem 0rem;
}

.main-right .row .container.album-info p {
    font-size: 0.8rem;
}

.main-right .row .card-song .album-art {
    width: 100%;
    height: 100%;
    position: relative;
}

.main-right .row .card-song .album-art img {
    width: 100%;
    height: 100%;
    display: block; /* used to remove the bottom margin; in this way, the overlay will perfectly stay above image */
}

.main-right .row .card-song .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    position: absolute;
}

.main-right .album-info p {
    color: var(--text-color-1);
}

/* Start of first row */
.main-right .row.first {
    justify-content: space-between;
}

/* Start of second, third rows */
.main-right .row.second .container.album-info:first-child, 
.main-right .row.third .container.album-info:first-child {
    margin-right: 10px;
}

.main-right .row.third .container.album-info .album-art {
    border-radius: 50%;
    overflow: hidden;
}
/* End of main */

/* Start of footer */
footer {
    height: 100px;
    bottom: 0px;
    left: 0px;
    background-color: var(--bgc-3);
    color: var(--text-color-1);
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

/* Start of container-left */
footer .container-left {
    justify-content: center;
    align-items: center;
}

footer .container-left .sub-container {
    margin-right: 1rem;
    align-items: center;
}

footer .container-left .sub-container .img {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
}

footer .container-left .sub-container img {
    width: 100%;
    height: 100%;
    display: block;
}

footer .container-left .sub-container .data {
    font-size: 0.9rem;
}

footer .container-left .sub-container .data h4 {
    color: var(--text-color-2);
}

footer .container-left .fa-heart {
    margin-right: 0.5rem;
}

/* Start of container-center */
footer .container-center {
    width: calc(100% / 4);
}

/* Start of top-container bottom */
footer .container-center .sub-container.top {
    justify-content: center;
}

footer .container-center .sub-container.top ul.flex {
    justify-content: center;
    align-items: center;
    list-style: none;
    color: var(--text-color-2);
}

footer .container-center .sub-container.top ul li {
    margin: 0rem 0.5rem 1rem 0.5rem;
}

footer .container-center .sub-container.top ul li:nth-child(3) div {
    border: 3px solid var(--text-color-2);
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    align-items: center;
    justify-content: center;
}

/* Start of sub-container bottom */
footer .container-center .sub-container.bottom {
    justify-content: center;
    align-items: center;
}

footer .container-center .sub-container.bottom span {
    font-size: 0.8rem;
    color: var(--text-color-2);
}

footer .container-center .sub-container.bottom .lenght {
    height: 0.2rem;
    width: 80%;
    background-color: var(--text-color-1);
    margin: 0rem 0.5rem;
}

footer .container-center .sub-container.bottom .played {
    height: 0.2rem;
    width: 20%;
    background-color: var(--text-color-2);
}

footer .container-center .sub-container.bottom .lenght,
footer .container-center .sub-container.bottom .played {
    border-radius: 10px;
}

/* Start of container-right */
footer .container-right {
    color: var(--text-color-2);
    justify-content: center;
    align-items: center;
}

footer .container-right i {
    margin-right: 0.5rem;
}

footer .container-right .max-vol {
    height: 0.2rem;
    width: 6rem;
    background-color: var(--text-color-1);
}

footer .container-right .actual-vol {
    height: 0.2rem;
    width: 2rem;
    background-color: var(--text-color-2);
}

footer .container-right .max-vol,
footer .container-right .actual-vol {
    border-radius: 10px;
}
/* End of footer */

/* Effects */
.main-right .row .card-song .album-art:hover .overlay {
    display: block;
}

/* Start of media queries */
/* Start of md-layout max 767px*/
@media screen and (max-width: 1199px) {
    body {
        background-color: grey;
    }
}

/* Start of s-layout max 767px*/
@media screen and (max-width: 767px) {
    body {
        background-color: black;
    }
}

/* Start of xs-layout max 575px*/
@media screen and (max-width: 575px) {
    body {
        background-color: purple;
    }
}
/* End of media queries */

/* Debug */
.debug {
    border: 1px dashed red;
    background-color: lightblue;
}

.d-box {
    border: 1px dashed red;
    background-color: lightgreen;
    width: 100px;
    height: 70px;
}

/*

Note: project done with width:1400px, height:1000px as default display size

To do
+ overlay effect add to every card with play symbol
+ 